<div class="row main">
    <div class="col-xs-12 col-md-9 side-left topics-show">
        <!-- view show -->
        <div class="topic panel panel-default" #topic>
            <div class="infos panel-heading">
                <h1 class="panel-title topic-title">{{view.title}}</h1>
                <div class="meta inline-block">
                    <a class="author" href="{{baseUrl}}/users/{{view.author.id}}">
                        {{view.author.name}}
                    </a>
                    <abbr class="timeago">{{(view.created)}}</abbr>
                    <abbr>⋅ {{view.views}} 阅读</abbr>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="content-body entry-content panel-body ">
                <div class="markdown-body" #vditorPreview>
                    <!-- <ng-template #content></ng-template> -->
                </div>
            </div>
            <div class="panel-footer operate">
                <ng-container *ngFor="let item of view.getTagsArray()">
                    <span>
                        <a class="label label-default" href="/">#{{item}}</a>
                    </span>
                </ng-container>
            </div>
            <div class="panel-footer">
                <div class="hidden-xs">
                    <div class="social-share" data-sites="qq, weibo, wechat, qzone, facebook, twitter, google"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="more-box">
                <a class="btn btn-fulltext" (click)="fulltext()">
                    <i class="icon icon-arrow-down" aria-hidden="true"></i> 阅读全部
                </a>
            </div>
        </div>

        <!-- Comments -->
        <div id="chat" class="chats shadow-box">
            <div class="chat_header">
                <h4>全部评论: <span id="chat_count">0</span> 条</h4>
            </div>
            <ul id="chat_container" class="its"></ul>
            <div id="pager" class="text-center"></div>
            <div class="chat_post">
                <div class="cbox-title">我有话说: <span id="chat_reply" style="display:none;"><i id="chat_to"></i></span>
                </div>
                <div class="cbox-post">
                    <div class="cbox-input">
                        <textarea id="chat_text" rows="3" placeholder="请输入评论内容"></textarea>
                        <input type="hidden" value="0" name="chat_pid" id="chat_pid" />
                    </div>
                    <div class="cbox-ats clearfix">
                        <div class="ats-func">
                            <div class="OwO" id="face-btn"></div>
                        </div>
                        <div class="ats-issue">
                            <button id="btn-chat" class="btn btn-success btn-sm bt">发送</button>
                        </div>
                    </div>
                </div>
                <div class="phiz-box" id="c-phiz" style="display:none">
                    <div class="phiz-list" view="c-phizs"></div>
                </div>
            </div>
        </div>
        <!-- /view show -->
    </div>
    <div class="col-xs-12 col-md-3 side-right hidden-xs hidden-sm">
        <ul class="list-group about-user">
            <li class="list-group-item user-card">
                <div class="user-avatar">
                    <img class="img-circle" [src]="baseUrl + view.author.avatar"/>
                </div>
                <div class="user-name">
                    <span>{{view.author.name}}</span>
                </div>
            </li>

            <li class="list-group-item">
                <div class="user-datas">
                    <ul>
                        <li><strong>{{view.author.posts}}</strong><span>发布</span></li>
                        <li class="noborder"><strong>{{view.author.comments}}</strong><span>评论</span></li>
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div class="text-center">
                    <a class="btn btn-default btn-sm" href="javascript:void(0);" data-id="${view.id}" rel="favor">
                        <i class="icon icon-star"></i> 收藏 <strong id="favors">{{view.favors}}</strong>
                    </a>
                </div>
            </li>
        </ul>
        <app-right></app-right>
    </div>
</div>