<ng-container *ngIf="p">

  <ul class="pagination">
    <!-- <#assign pageNo=p.number + 1 />
    <#assign pageCount=p.totalPages /> -->
    <ng-container *ngIf="p.number +1 > 1">
      <li (click)="click(p.number)">
        <span class="prev">
          <i class="fa fa-angle-left"></i>
        </span>
      </li>
    </ng-container>
    <ng-container *ngIf="!(p.number + 1 > 1)">
      <li class="disabled"><span><i class="fa fa-angle-left"></i></span></li>
    </ng-container>

    <ng-container *ngFor="let item of [].constructor(p.totalPages); let i = index">
      <ng-container *ngIf="getstatue(p.totalPages, p.number + 1, spans, i + 1) == 1">
        <li (click)="click(i+1)"><span>{{i+1}}</span></li>
      </ng-container>
      <ng-container *ngIf="getstatue(p.totalPages, p.number + 1, spans, i + 1) == 0">
        <li  class="active"><span>{{i+1}}</span></li>
      </ng-container>
    </ng-container>


    <ng-container *ngIf="p.number + 1 < p.totalPages">
      <li (click)="click(p.number+2)"><span class="next"><i class="fa fa-angle-right"></i></span></li>
    </ng-container>
    <ng-container *ngIf="!(p.number + 1 < p.totalPages)">
      <li class="disabled"><span><i class="fa fa-angle-right"></i></span></li>
    </ng-container>
  </ul>
</ng-container>