<div class="panel panel-default widget">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-area-chart"></i> 热门文章</h3>
	</div>
	<div class="panel-body">
		<ul class="list">
			<ng-container *ngFor="let row of lastestOut.hottest_posts let row_index = index">
				<li>{{row_index + 1}}. <a [routerLink]="['/view', {id:row.id}]">{{row.title}}</a></li>
			</ng-container>
		</ul>
	</div>
</div>

<div class="panel panel-default widget">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-bars"></i> 最新发布</h3>
	</div>
	<div class="panel-body">
		<ul class="list">
			<ng-container *ngFor="let row of lastestOut.latest_posts let row_index = index">
				<li>{{row_index + 1}}. <a [routerLink]="['/view', {id:row.id}]">{{row.title}}</a></li>
			</ng-container>
		</ul>
	</div>
</div>

<div class="panel panel-default widget">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-comment-o"></i> 友站</h3>
	</div>
	<div class="panel-body">
		<ul class="list">
			<li><a href="https://chousann.github.io/pdftoword/" target="_blank">PDF转Word工具</a></li>
			<li><a href="https://chousann.github.io/zchat-angular/chatbox?aaa=bbb" target="_blank">ChatGPT</a></li>
			<li><a href="https://openhab.cnss.eu.org" target="_blank">openhab</a></li>
			<li><a href="https://n8n.cnss.eu.org" target="_blank">n8n</a></li>
			<li><a href="https://auth.cnss.eu.org/oauth/client/loginInit" target="_blank">无密码登陆</a></li>
		</ul>
	</div>
</div>