<ng-container *ngFor="let row of allposts.content">
  <li class="content">
    <ng-container *ngIf="row.post.thumbnail && row.post.thumbnail.length > 0">
      <div class="content-box">
        <div class="posts-item-img">
          <a [routerLink]="['/view', {id:row.post.id}]" title="">
            <div class="overlay"></div>
            <img class="lazy thumbnail" src="<@resource src=row.post.thumbnail/>" style="display: inline-block;">
          </a>
        </div>
        <div class="posts-item posts-item-gallery">
          <h2><a [routerLink]="['/view', {id:row.post.id}]">
              {{row.title}}
            </a></h2>
          <div class="item-text">{{row.post.summary}}</div>
          <div class="item-info">
            <ul>
              <li class="post-author hidden-xs">
                <div class="avatar">
                  <img src="<@resource src=row.post.author.avatar + '?t=' + .now?time/>" class="lazy avatar avatar-50 photo"
                    height="50" width="50">
                </div>
                <a href="/users/{{row.post.author.id}}" target="_blank">{{row.post.author.name}}</a>
              </li>
              <li class="ico-cat">
                <!-- <@utils.showChannel row /> -->
              </li>
              <li class="ico-time"><i class="icon-clock"></i>{{(row.post.created)}}</li>
              <li class="ico-eye hidden-xs"><i class="icon-book-open"></i>{{row.post.views}}</li>
              <li class="ico-like hidden-xs"><i class="icon-bubble"></i>{{row.post.comments}}</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(row.post.thumbnail && row.post.thumbnail.length > 0)">
      <div class="content-box posts-aside">
        <div class="posts-item">
          <div class="item-title">
            <h2><a [routerLink]="['/view', {id:row.post.id}]">
                {{row.post.title}}
              </a></h2>
          </div>
          <div class="item-text">{{row.post.summary}}</div>
          <div class="item-info">
            <ul>
              <li class="post-author hidden-xs">
                <div class="avatar">
                  <img src="{{row.post.author.avatar}}" class="lazy avatar avatar-50 photo" height="50" width="50">
                </div>
                <a href="/users/{{row.post.author.id}}" target="_blank">{{row.post.author.name}}</a>
              </li>
              <li class="ico-cat">
                <!-- <@utils.showChannel row /> -->
              </li>
              <li class="ico-time"><i class="icon-clock"></i>{{(row.post.created)}}</li>
              <li class="ico-eye hidden-xs"><i class="icon-book-open"></i>{{row.post.views}}</li>
              <li class="ico-like hidden-xs"><i class="icon-bubble"></i>{{row.post.comments}}</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </li>
</ng-container>
<ng-container *ngIf="allposts.content.length < 1">
  <li class="content">
    <div class="content-box posts-aside">
      <div class="posts-item">该目录下还没有内容!</div>
    </div>
  </li>
</ng-container>