<div class="row users-show">
  <div class="col-xs-12 col-md-3 side-left">
    <app-sidebar [userId]="userId"></app-sidebar>
  </div>
  <div class="col-xs-12 col-md-9 side-right">
    <div class="panel panel-default">
      <div class="panel-heading">发表的文章</div>
        <div class="panel-body">
          <ul class="list-group">
            <ng-container *ngFor="let row of results.content">
              <li class="list-group-item">
              <!-- <li class="list-group-item" el="loop-{{row.id}}"> -->
                <a href="/post/{{row.id}}" class="remove-padding-left">{{row.title}}</a>
                <span class="meta">
                  {{row.favors}} 点赞
                  <span> ⋅ </span>
                  {{row.comments}} 回复
                  <span> ⋅ </span>
                  <span class="timeago">{{row.created}}</span>
                </span>

                <div class="pull-right hidden-xs">
                  <ng-container *ngIf="row.author.id === rootWebDto.accountProfile.id">
                    <a class="act_edit" [routerLink]="['/edit', {id:row.id}]" data-evt="edit" data-id="{{row.id}}"
                      data-toggle="tooltip" title="编辑文章">
                      <i class="icon icon-note"></i>
                    </a>
                    <!-- <a class="act_delete" href="javascript:void(0);" data-evt="trash" data-id="{{row.id}}"
                      data-toggle="tooltip" title="删除文章">
                      <i class="icon icon-close"></i>
                    </a> -->
                  </ng-container>
                </div>
              </li>
            </ng-container>

            <ng-container *ngIf="!(results.content || results.size>0)">
              <li class="list-group-item ">
                <div class="infos">
                  <div class="media-heading">该目录下还没有内容!</div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="panel-footer">
          <app-pager [url]="" [p]="results" [spans]="5"></app-pager>
          <!-- <@utils.pager request.requestURI!'', results, 5 /> -->
        </div>
    </div>
  </div>
</div>
<!-- /end -->