<div class="row streams">
  <div class="col-xs-12 col-md-9 side-left">
    <div class="posts ">
      <ul class="posts-list">
        <li class="content">
          <div class="content-box posts-aside">
            <div class="posts-item">标签: {{tagDetail.name}} 共 {{tagDetail.results.size}} 个结果.</div>
          </div>
        </li>
        <app-list [allposts]="tagDetail.results"></app-list>
      </ul>
    </div>
    <div class="text-center">
      <!-- <@utils.pager request.requestURI, results, 5/> -->
    </div>
  </div>
  <div class="col-xs-12 col-md-3 side-right">
    <app-right></app-right>
  </div>
</div>